.benefits {
	padding: 65px 0;
	min-height: 473px;
	background-color: #F6F6F6;
	&__wrapper {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
	}
	&__icons {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 240px;
	}
	&__subtitle {
		margin-top: 40px;
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: #0D0D0D;
	}
	&__descr {
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: #0D0D0D;
		text-align: center;
		a {
			color: #FF0000;
		}
	}
}

@media (max-width: 991px) {
	.benefits {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (max-width: 767px) {
	.benefits {
		&__icons {
			max-width: 25%;
		}
	}
}

@media (max-width: 575px) {
	.benefits {
		padding: 30px 10px;
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 10px;
		}
		&__icons {
			max-width: 100%;
			margin-top: 10px;
		}
		&__subtitle {
			margin-top: 10px;
		}
	}
}